/* .MisArchivos {
    display: flex;
    justify-content: center;
} */

.parte1 {
    width: 100%;
}

.parte2 {
    width: 100%;
}

.parte3 {
    width: 100%;
}

/* .top {
    display: flex;
    justify-content: flex-start;
    width: 137px;
}

.circle {
    width: 56.5px;
    height: 56.5px;
    
}

.topPar {
}

.purple {
    font-family: Clash;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    letter-spacing: 0.12em;
    color: #7B61FF;
    text-align: left;
}

.alm {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: -0.02em;
    color: #121212;
}

.gb {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: -0.02em;
    color: #818181;  
} */